*{
    
    text-decoration: none;
    
}

body{
    font-family: serif;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/37/Killerwhales_jumping.jpg);
    text-align: center;

}




nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    color: aliceblue;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;

}

a {

color: aliceblue;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    text-align: left;
}
/* form */

input, textarea, button{
    height: 40%;
    width: 40%;
    margin: 5px;
    margin-bottom: 20px;
    align-self: center;
    align-self: baseline;
    border-radius: 10px;
    flex-direction: column;
    
}
    
div .gmaps {
    align-self: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.name .number{
    margin-bottom: 50px;
    box-sizing: border-box;
    gap: 30px;
    font-size: 20px;
}
